.Animation{
    height: 200px;
    width: 400px;
    background-color: blueviolet;
    /* for your name */
    animation-name: Ahsan;
   /* duration of sacends  */
    animation-duration: 2s;
   /* This is the timing value */
    animation-timing-function: ease-in; 
    /* for time delay */
    animation-delay: 0s;
    /* This is the type odf animation */
    animation-duration: normal;
    /* this is how many times the animation runs */
    animation-iteration-count: 3;

}
/*  End in this you type your changes in the animation */
@keyframes Ahsan{
    from{
        background-color: rgb(189, 119, 14);
        font-size: 20px;
        width: 100px;
    }
    to{
        background-color: aqua;
        font-size: 50px;
        width: 600px;
    }

}